/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url('../img/backdrop/001.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carousel-item:nth-child(2) {
  background-image: url('../img/backdrop/002.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carousel-item:nth-child(3) {
  background-image: url('../img/backdrop/003.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
  #introCarousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 30vh;
  }
}

body.lib .navbar .nav-link {
  color: #fff !important;
}

body.lib .navbar .nav-link:hover {
    color: #333333!important;
    text-decoration: underline;
}

/* Template admin */
body.admin {
    background-color: #fbfbfb;
  }
  @media (min-width: 991.98px) {
    main.admin {
      padding-left: 240px;
    }
  }

  /* Template login */
  .create-box .card {
    background:url(../img/backdrop/0fee341b-5bbe-4149-b567-539d367be1e9.png);
    background-size:cover;
  }

  .login-box .card {
    background:url(../img/backdrop/002.jpg);
    background-size:cover;
  }

  .reset-box .card {
    background:url(../img/backdrop/003.jpg);
    background-size:cover;
  }

  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

/* Baseline style guide */
.text-underline {
    text-decoration: underline;
}